<h2 (click)="onclick()">Информация за мен</h2>
<div *ngIf="isDisplay">
  <p>Казвам се Мариела Мирчева и съм студентка в 3-ти курс в специалност "Софтуерни технологии и дизайн" в Пловдивски
    университет "Паисий Хилендарски".</p>
</div>

<h2 (click)="onclick1()">Хобита и интереси</h2>
<div *ngIf="isDisplay1">
  <p>В свободното си време обичам да чета, да пътувам, да готвя и да тествам нови и различни рецепти.</p>
</div>

<h2 (click)="onclick2()">Линк към материал на любим content creator, който ме вдъхновяла</h2>
<div *ngIf="isDisplay2">
  <p><a href="https://www.youtube.com/@ValerieYordanova">Valerie Yordanova</a> ме вдъхновяма, защото не спира да
    преследва целите си, пътува много и опознава нови култури.</p>
</div>

<h2 (click)="onclick3()">Информация за моя канал</h2>
<div *ngIf="isDisplay3">
  <p>В моя канал може да очаквате кулинарни видея, в които ще тествам нови, интересни и лесни рецепти. Ще виждате и
    влогове от пътувания в страната, а защо не и в чужбина!? </p>
</div>